$primary: rgb(0, 110, 255);
$size: 300px;

@mixin primary($fontSsize) {
  color: $primary;
  font-size: $fontSsize;
}

.box {
  > h1 {
    @include primary(26px);
  }
}

.box2 {
  $color: rgb(199, 75, 75) !global;
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  background-color: $primary;
  font: {
    weight: bold;
    size: 18px;
  }
  border: {
    bottom: 3px solid black;
    radius: 50%;
  }
  margin: {
    top: 100px;
    left: 100px;
  }
}

.box3 {
  color: $color;
}

@mixin large-text {
  font: {
    size: 22px;
    weight: bold;
    family: sans-serif;
  }
  color: orange;

  &::after {
    content: "!!";
  }
}
.mixin {
  @include large-text;
}

@mixin dash-line($width, $color) {
  border: $width dashed $color;
  @content;
}

.mixin2 {
  @include dash-line(2px, red) {
    color: blue;
  }
}

$max-width: 980px;

@function columns($number: 1, $columns: 12) {
  @return $max-width * ($number / $columns);
}

.box_group {
  width: $max-width;

  .box1 {
    width: columns(); // 1
  }
  .box2 {
    width: columns(8);
  }
  .box3 {
    width: columns(3);
  }
}
