.title {
  text-align: center;
}
.nav {
  display: flex;
  flex-direction: column;
}
.nav a {
  text-decoration: none;
  color: green;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}
.nav a:hover {
  background-color: greenyellow;
}
.active {
  background-color: greenyellow;
}
